{% extends "base.html" %}

{% block title %}
Bienvenido - ParkEase
{% endblock %}

{% block content %}
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100 text-center">
        <!-- Parking Superior -->
        <div class="col-md-4">
            <h2>Parking Superior</h2>
            <div class="card">
                <img src="{{ url_for('static', filename='images/parking_superior_maps.png') }}" class="card-img-top" alt="Parking Superior">
                <div class="card-body">
                    <a href="#" class="btn btn-outline-primary btn-sm">Ver disponibilidad de plazas</a>
                </div>
            </div>
        </div>
        <!-- Parking Inferior -->
        <div class="col-md-4">
            <h2>Parking Inferior</h2>
            <div class="card">
                <img src="{{ url_for('static', filename='images/parking_inferior_maps.png') }}" class="card-img-top" alt="Parking Inferior">
                <div class="card-body">
                    <a href="#" class="btn btn-outline-primary btn-sm">Ver disponibilidad de plazas</a>
                </div>
            </div>
        </div>
        <!-- Reserva -->
        <div class="col-md-4" id="home-derecha">
            <h2>Reserva</h2>
            <div>
                <h5>Reservas Recientes</h5>
                <ul class="list-unstyled">
                    <li>3/12/24 PS</li>
                    <li>28/11/24 PI</li>
                    <li>13/11/24 PS</li>
                </ul>
                <h5>Reserva Actual</h5>
                <ul class="list-unstyled">
                    <li><strong>Fecha:</strong> 3/12/24</li>
                    <li><strong>Matrícula:</strong> 3547 NXB</li>
                    <li><strong>Ubicación:</strong> Parking Superior Plaza 7</li>
                    <li><strong>Vehículo:</strong> RENAULT MEGANE GRIS</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

psolafp@ibf.cat