{% extends "base.html" %}
{% block title %}
Perfil
{% endblock %}
{% block content %}
<section class="register-container perfil-container profile ">
    <div class="display-flex justify-content-center row">
        <div class="col-md-6">
            <div class="mb-3">
                <p class="user-mail">{{ user_data.email }}</p>
            </div>
            <div class="mb-3">
                <!-- Botón para editar -->
                {% if not edit_mode %}
                    <a href="{{ url_for('profile', edit='true') }}" class="btn-perfil">Editar Datos</a>
                {% else %}
                    <button type="submit" form="profile-form" class="btn-perfil">Guardar Cambios</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 datos-user login">
            <h2>PERFIL</h2>
            <form id="profile-form" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ user_data.name }}" required {% if not edit_mode %}disabled{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user_data.email }}" required {% if not edit_mode %}disabled{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="text" class="form-control" id="dni" name="dni" value="{{ user_data.dni }}" required readonly>
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="{{ user_data.phone }}" required {% if not edit_mode %}disabled{% endif %}>
                </div>
            </form>
        </div>
        <div class="col-md-4 datos-user login">
            <h2>VEHÍCULOS</h2>
            {% if user_data.vehiculos %}
                {% for vehiculo in user_data.vehiculos %}
                    <div class="mb-3 vehiculo">
                        <p>Vehículo {{ loop.index }}</p>
                        <div class="vehicle-info">
                            <p><strong>Matrícula:</strong> <span>{{ vehiculo.matricula }}</span></p>
                            <div class="vehicle-actions">
                                <a href="{{ url_for('edit_vehicle', vehicle_id=vehiculo.id) }}" class="btn btn-perfil">Editar</a>
                                <form action="{{ url_for('delete_vehicle', vehicle_id=vehiculo.id) }}" method="POST" style="display: inline;">
                                    <button type="submit" class="btn btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar este vehículo?');">
                                        Eliminar
                                    </button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay vehículos registrados.</p>
            {% endif %}
            <!-- Botón para crear un nuevo vehículo -->
            <div class="mt-3">
                <a href="{{ url_for('create_vehicle') }}" class="btn btn-perfil">Crear Vehículo</a>
            </div>
        </div>
    </div>
    <div class="display-flex justify-content-center row">
        <div class="col-md-6">
            <button class="btn-perfil"><a href="/logout">Cerar sesión</a></button>
        </div>
    </div>
</section>
{% endblock %}